.line_before{
    margin: 9px 0 0 -80px;
    height: 4px;
    position: absolute;

    width: 58px;
    z-index: 9999; 
    background-image: -webkit-gradient(linear,left top,right top,from(#2196f3),to(#151514));
}
.line_after{
    margin: 9px 0 0 35px;
    height: 4px;
    position: absolute;

    width: 58px;
    z-index: 9999; 
    background-image: -webkit-gradient(linear,left top,right top,from(#2196f3),to(#151514));
}

.vision{
    width: 100px;
    height: 100px;
    sbox-shadow: 0 3px 14.88px 1.12px rgb(59 57 62 / 32%);
    
    border-radius: 50%;
    padding:24px;
}

.vision:hover{
    border: 1px solid #0b1139;
}