.footer{
    color: #fff;
    background: #2d2d2e;
    padding:40px 0px;
    
    
}

h4{
    font-size: 15px;
    font-weight: 600;
    
    letter-spacing: 0.6px;
    
    padding-right: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-left:1px solid #fff;
    padding-left:10px;
}

.icons a{
font-size:25px;
margin:5px;
}

.fa-map-marker,.fa-envelope,.fa-phone,.fa-angle-right{
    margin-right:10px;
    /* color: #1993d3; */
}

.fa-twitter{
    color: #55acee;
}
.fa-facebook-f{
    color: #2c80D3
}
.fa-instagram{
    color: #e200cf
}
.fa-linkedin-in{
    color:#0e76a8;
}
.color{
    color: #97def3;
}

.footer ul li{
    list-style-type: none;
    font-size:15px;
    margin-bottom:5px;
    
}
.footer ul li a{
    color:#fff;
}
.footer a{
    text-decoration:none;
}
