{% extends 'base.html' %}
{% load static %}
{% block meta %}
<meta name="description"
    content="Sri Sudhatri Technologies best IT company in Hyderabad with foremost Digital Marketing Company in Hyderabad also Leading as Best US staffing Company in Hyderabad." />
<meta name="keywords"
    content="Best Digital Marketing Company in Hyderabad, Web Designing Company Hyderabad, US Staffing Service Provider Hyderabad, Best IT Company in India, Digital Marketing Company in Hyderabad, Best Web Designing Services in India, Best US Staffing Company Hyderabad, Web Development Company Hyderabad." />
{% endblock %}
{% block title %}
Web Development Company | Digital Marketing Company | Staffing Services
{% endblock %}
{% block content %}
<div class="container-fluid p-0 mb-5">
    <img src="{% static 'images/aboutus-banner.png'%}" alt="about banner" class="img-fluid mb-4 w-100" />
</div>
<div class="container mt-5 mb-5">
    <div class="row text-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6  col-12 mb-3">
            <h1><span class="line_before"></span>About Us</h1>
            <p class="mt-4 justify">
                Sri Sudhatri is one of the IT development Company, taking step with foremost trending strategies from
                time to time and delivers a standardised output in making client to have a high level of confidence in
                facing the challenges in their business module.
            </p>
            <p class="mt-4 justify">
                We put forward altogether to meet the industrial requirements in field of Digital Marketing, Web
                development, Designing and various sectors and the step very seriously in spending the value range to a
                definite cost and resulting to bring efficient output with good satisfactory results. Its matter’s the
                value of every rupee you spend. We take up the support of good Entrepreneurs and work our level best to
                stand up in the world by filling the client expectations.
            </p>
            <p class="mt-4 justify">
                We go beyond with Young, Passionate, Precise and dedicated working team with high level of knowledge and
                Skills to execute the ideas to bring the attention of branding & Awareness of bunch of products and
                services across the society. With immense experience in Web development and Mobile Applications around
                the clock will help you to raise up to high level of success with good experience and cross over the
                point of destination with in the point of time. We work with define pattern to meet goal with a spam of
                time as per client requirement by following in a secure and effective manner. Our Motto is to work upon
                the digital space to gain the visibility and coordinate in a specular manner and in turn to convert the
                visitor to daily customer to improve our services to a better level.
            </p>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
            <img src="{% static 'images/aboutus.png'%}" alt="about us" class="img-fluid" />
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12 mb-3">
            <h3><span class="line_before"></span>Our Mission</h3>
            <p class="mt-4">
                We stand altogether and strengthen our best in achieving the good worth of success by giving ideas to
                overcome the typical situations and also, we handle crucial stages of to provide outstanding customer
                experience through our associates by embedding quality in everything we do.
            </p>
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12  col-12 mb-3">
            <h3>Our Vision<span class="line_after "></span></h3>
            <p class="mt-4">
                We have ability to stand in advance for the scope of future advancement from time to time depending on
                the technology and plan for great wisdom. We tangled with entire enhancement of development.
            </p>
        </div>
    </div>
</div>
{% endblock content %}