{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-0 mb-5">
    <img src="{% static 'images/aboutus-banner.png'%}" alt="contact banner" class="img-fluid mb-4 w-100" />
</div>

<div class="container mt-5 mb-5">
    <div class="row text-center">
        <div class="col-md-6 mb-3">
            <h1><span class="line_before"></span>About Us</h1>
            <p class="mt-4 justify">
                Sri Sudhatri is one of the IT development Company, taking step with foremost trending strategies from
                time to time and delivers a standardised output in making client to have a high level of confidence in
                facing the challenges in their business module.
            </p>
            <p class="mt-4 justify">
                We put forward altogether to meet the industrial requirements in field of Digital Marketing, Web
                development, Designing and various sectors and the step very seriously in spending the value range to a
                definite cost and resulting to bring efficient output with good satisfactory results. Its matter’s the
                value of every rupee you spend. We take up the support of good Entrepreneurs and work our level best to
                stand up in the world by filling the client expectations.
            </p>
            <p class="mt-4 justify">
                We go beyond with Young, Passionate, Precise and dedicated working team with high level of knowledge and
                Skills to execute the ideas to bring the attention of branding & Awareness of bunch of products and
                services across the society. With immense experience in Web development and Mobile Applications around
                the clock will help you to raise up to high level of success with good experience and cross over the
                point of destination with in the point of time. We work with define pattern to meet goal with a spam of
                time as per client requirement by following in a secure and effective manner. Our Motto is to work upon
                the digital space to gain the visibility and coordinate in a specular manner and in turn to convert the
                visitor to daily customer to improve our services to a better level.
            </p>
        </div>
        <div class="col-md-6 mb-3">
            <img src="{% static 'images/aboutus.png'%}" alt=""   class="img-fluid"/>
            <!-- <img src="{% static 'images/ab-pic.png'%}" alt="" /> -->

        </div>

    </div>

    


    <div class="row mt-5 text-center">
        <div class="col-md-12 mb-3">
            <h3><span class="line_before"></span>Our Vision</h3>
            <p class="mt-4">To be a trusted and sought-after partner to our Customers helping
                in their Success.</p>
        </div>
    </div>

    <div class="row mt-5 text-center">
        <div class="col-md-12 mb-3">
            <h3>Our Mission<span class="line_after "></span></h3>
            <p class="mt-4">To provide outstanding Customer Experience through our Associates by embedding Quality in everything we
                do.</p>
        </div>
    </div>
</div>
{% endblock content %}