{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sri Sudhatri Technologies Private Limited</title>
    <link rel="icon" href="{% static 'images/tab-logo.png' %}" type="image/png" />
    {% block meta %}
    {% endblock %}
    <meta name="author" content="Sri Sudhatri Technologies" />
    <meta property="og:title" content="Sri Sudhatri Technologies" />
    <meta property="og:url" content="https://www.sudhatri.in/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'images/logo.png'%}" />
    <meta property="og:description"
        content="Sri Sudhatri Technologies Offers Web Development,Mobile Development,Website Re-design,Ecommerce Website Design,Responsive Web Design,Digital Marketing and Staffing Services." />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QK570VP7E2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QK570VP7E2');
    </script>
</head>

<body>
    <!--      Header         -->
    <nav class="navbar  navbar-expand-md ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo.png'%}" alt="sudhatri logo" class="img-fluid" width="200px"
                    height="80px" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}"><i class="fa fa-hand-point-right"></i>About Us</a>
                    </li>
                    <li class="nav-item nowrap">
                        <div class="dropdown">
                            <button class="dropbtn">
                                <a class="nav-link" href="#"><i class="fa fa-laptop-code"></i>Development
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </button>
                            <div class="dropdown-content">
                                <a href="{% url 'web' %}"><i class="fa fa-laptop"></i>Web Development</a>
                                <a href="{% url 'mobile' %}"><i class="fa fa-mobile-alt"></i>Mobile Development</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'dm' %}"><i class="fa fa-tv"></i>Digital Marketing</a>
                    </li>
                    <li class="nav-item nowrap">
                        <div class="dropdown">
                            <button class="dropbtn">
                                <a class="nav-link" href="#"><i class="fa fa-users"></i>Staffing
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </button>
                            <div class="dropdown-content">
                                <a href="{% url 'ds' %}"><i class="fa fa-user-friends"></i>Domestic Staffing</a>
                                <a href="{% url 'us' %}"><i class="fa fa-user-friends"></i>US Staffing</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'contact' %}"> <i class="fa fa-phone-alt"></i>Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--      Header         -->
    {% block content %}
    {% endblock content %}
    <!--      Footer              -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                    <h4>Reach Us</h4>
                    <p><i class="fa fa-map-marker"></i><span class="color">Sri Sudhatri Technologies PVT LTD.</span><br>
                        Western Aqua, 121,12th floor, Workafella, Whitefields, HITEC City, Hyderabad, Telangana 500018.
                    </p>
                    <p><i class="fa fa-phone"></i>9000008165</p>
                    <p><i class="fa fa-envelope"></i>info@sudhatri.com</p>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="{% url 'home' %}"> <i class="fa fa-angle-right"></i>Home</a></li>
                        <li><a href="{% url 'about' %}"> <i class="fa fa-angle-right"></i>About Us</a></li>
                        <li><a href="{% url 'careers' %}"> <i class="fa fa-angle-right"></i>Careers</a></li>
                        <li><a href="{% url 'contact' %}"> <i class="fa fa-angle-right"></i>Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                    <h4>Services</h4>
                    <ul>
                        <li><a href="{% url 'web' %}"> <i class="fa fa-angle-right"></i>Web Development</a></li>
                        <li><a href="{% url 'mobile' %}"> <i class="fa fa-angle-right"></i>Mobile Development</a></li>
                        <li><a href="{% url 'dm' %}"> <i class="fa fa-angle-right"></i>Digital Marketing</a></li>
                        <li><a href="{% url 'ds' %}"> <i class="fa fa-angle-right"></i>Domestic Staffing</a></li>
                        <li><a href="{% url 'us' %}"> <i class="fa fa-angle-right"></i>US Staffing</a></li>
                    </ul>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                    <h4>Follow Us</h4>
                    <div class="icons">
                        <a href="https://www.facebook.com/people/Srisudhatri/100090779231058/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/srisudhatritech" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-linkedin-in" ></i></a>
                        <a href="https://www.instagram.com/sudhatritech/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-5">&copy 2022 Sri Sudhatri - ALL RIGHTS RESERVED.</p>
    </div>
    <!--      Footer              -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>