{% extends 'base.html' %}
{% load static %}
{% block meta %}
<meta name="description"
    content="Sri Sudhatri Offers Web Development,Mobile Development,Website Re-design,Ecommerce Website Design,Responsive Web Design,Digital Marketing and Staffing Services." />
<meta name="keywords"
    content="Best Digital Marketing Company in Hyderabad, Web Designing Company Hyderabad, US Staffing Service Provider Hyderabad, Best IT Company in India, Digital Marketing Company in Hyderabad, Best Web Designing Services in India, Best US Staffing Company Hyderabad, Web Development Company Hyderabad." />
{% endblock %}
{% block content %}
<div class="container-fluid p-0 mb-5">
    <img src="{% static 'images/contact-banner.png'%}" alt="contact banner" class="img-fluid mb-4 w-100" />
</div>
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mb-5">
                <div class="form">
                    <h2 class="mb-4">Get In <span style="border-bottom:2px solid #000"> Touch</span></h2>
                    <form method="post">
                        {% csrf_token %}
                        <label>Name </label>
                        <input type="text" name="name" required /><br /><br />

                        <label>Email Address</label>
                        <input type="email" name="email" required /><br /><br />

                        <label>Phone Number</label>
                        <input type="number" name="phone" required /><br /><br />

                        <label>Message Us</label>
                        <textarea rows="4" name="msg" required></textarea><br /><br />

                        <button class="btn submit">Submit</button>
                    </form>
                    {% for msg in messages %}
                    <p class="text-success mt-2 fw-bold">{{msg}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15224.618016338185!2d78.3691426!3d17.4523176!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2e20a558f1dcd182!2sSri%20Sudhatri%20Technologies%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1675850594042!5m2!1sen!2sin"
                    width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}