{% extends 'base.html' %}
{% load static %}
{% block meta %}
<meta name="description"
    content="Best Digital Marketing Company in Hyderabad Promoting Websites with Best Social Media Marketing Services Hyderabad. Digital Marketing Company in Hyderabad." />
<meta name="keywords"
    content="Best Digital Marketing Company Hyderabad, Best Digital Marketing Company in Hyderabad, Digital Marketing Company in Hyderabad, Digital Marketing Services Hyderabad, Best Internet Marketing Company Hyderabad, Best Digital Marketing Service Provider Hyderabad, Best Digital Marketing Company in India, Digital Marketing Company in India." />
{% endblock %}
{% block content %}
<div class="container-fluid p-0 mb-5">
    <img src="{% static 'images/dm-banner.png'%}" alt="digital marketing banner" class="img-fluid mb-4 w-100" />
</div>
<div class="container mt-5 mb-5">
    <div class="row text-center mb-5 mt-5">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mb-5">
            <h3><span class="line_before"></span>Digital Marketing Strategy</h3>

            <p class="mt-4 justify">
                Are you planning to run a business on your own hands and expecting to Gain profits to certain level of
                extension? Then, take up a chance of making a step into the field of Digital Marketing and enhance the
                growth of business by letting the society to know your business marketing Strategies and expertise to
                grow into high standard level with good Digital Media Promotions, Engagements and Communication.
            </p>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mb-5">
            <img src="{% static 'images/dms.jpg'%}" alt="digital marketing strategy" height="210px" />
        </div>
    </div>
    <div class="row text-center mt-5 mb-5">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mb-5">
            <img src="{% static 'images/seo.jpg'%}" alt="seo" height="310px" />
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mb-5">
            <h3><span class="line_before"></span>Search Engine Optimization </h3>
            <p class="mt-4 justify">
                Looking to make your website to rank in top position in Search results in Search Engine? Wondering to
                increase the traffic, getting more sales and gain profit for your business via search results? SEO is
                the key metrics to reach. Boost up your business to increase the traffic with SEO trends and techniques.
                Just developing a website is not a point to rank in better position in search engine. SEO is a long-term
                process not only attract visitors but also to generate traffic, increase visitors, create a brand
                awareness.
                It is a challenging effort to pull out the effective output and make your business to reach to better
                stage via search engine.
                Leave the SEO of your website to us and see the results. We take care of keyword research, website
                structure optimization, technical SEO, content creation, and more.
            </p>
        </div>
    </div>
    <div class="row text-center mt-5 mb-5">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
            <h3><span class="line_before"></span>Social Media Marketing</h3>
            <p class="mt-4 justify">
                Want to grow your business promotion and targeting with effective Social Media Marketing strategy? Then,
                don’t be late. Join hands with Sri Sudhatri esteemed workers who helps you to achieve your goal with
                right audience suits to your market and helps you to attract with audience with good engaging content.
                We strive hard to deliver and publish relevant categorised content according to your business module and
                make social interactions for any brand. We stand as a support to cooperate with trending social media
                strategies and also optimize the social listings and KPIs and also handle to run social media campaigns.
                With our Social Media Marketing flow procedure & services we attract the customers globally to flue the
                business widely through Facebook, Instagram, LinkedIn and other social profiles. Our experts in Social
                Media Marketing will help you to promote your business and generate Leads.
                We also pull out Social Media Marketing segments and move closely with the clients and track the
                Analysis reports and evaluate the level of business growth on daily basis and make necessary changes as
                per the requirements.
                Our services help clients to drive traffic, Increase sales and build the brand awareness. We also
                collaborate potentially in providing Good level of content, Images , Scheduling, posting ,captions, use
                of hashtags and to generate the reports as per the necessary improvements.
            </p>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mt-5">
            <img src="{% static 'images/smm.jpg'%}" alt="smm" height="310px" />
        </div>
    </div>
    <div class="row text-center mt-5 mb-5">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mt-3 mb-5">
            <img src="{% static 'images/sem.jpg'%}" alt="sem" height="310px" />
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
            <h3><span class="line_before"></span>Search Engine Marketing </h3>
            <p class="mt-4 justify">
                Search Engine Marketing or Pay-Per Click(PPC) is the process to achieve whatever the Goal either to
                increase brand awareness, get Leads, increase visits or clicks. We come forward in streamline manner in
                effective way to reach your target.
                We have a overlook of Search Engine Marketing Services and start a working strategy with choosing the
                right keywords that make to raise your business with certain bidding strategies by analysing your niche
                business and competitors into consideration.
                We increase your Click Through Rate (CTR) with Google Ads Management process through Search Ads &
                Display Ad Campaigns. We also run Ad engagements with video ads and also increase sales via shopping
                Ads. Our video ads include instream ads , banner ads, in-page ads that helps to improve Ad engagements.
                Sri Sudhatri is a right platform to increase CTR, raise ROAS and decrease CPA for your PPC campaigns.
                Have a wide connection with us and increase your business growth.
            </p>
        </div>
    </div>
</div>
{% endblock content %}