{% extends 'base.html' %}
{% load static %}
{% block meta %}
<meta name="description"
    content="Sri Sudhatri Mobile App Development Company Hyderabad Brings You World Class Android App Development Services and End to End IOS App Development Services." />
<meta name="keywords"
    content="Mobile App Development Company Hyderabad, Best Mobile App Development Company Hyderabad, Mobile App Development Services Company Hyderabad, Android App Development Company Hyderabad, Best Android App Development Services Company, IOS App Development Services Company Hyderabad, IOS App Development Company Hyderabad Best IOS App development Services Company Hyderabad." />
{% endblock %}
{% block content %}
<div class="container-fluid p-0 mb-5">
    <img src="{% static 'images/mobile-banner.png'%}" alt="mobile development banner" class="img-fluid mb-4 w-100" />
</div>
<div class="container mt-5 mb-5">
    <div class="row text-center mt-5 mb-5">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mb-4">
            <img src="{% static 'images/android.png'%}" alt="android" height="300px" />
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
            <h3><span class="line_before"></span>Android app development</h3>
            <p class="mt-4 justify">
                Sudhatri brings you world-class mobile app development services, transforming your idea and needs into a
                completely secure and ingenious mobile application. Our experts provide end-to-end App development
                support for iOS, Android, or native mobile applications. Sudhatri turns your dream into mere reality by
                offering cutting-edge mobile application customized solutions at your budget. We serve our customers
                with the most creative, trustworthy, and secure mobile app solutions.
            </p>
        </div>
    </div>
    <div class="row text-center mb-5 mt-5">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mb-4">
            <h3><span class="line_before"></span>iOS app development</h3>
            <p class="mt-4 justify">
                Sudhatri brings you world-class mobile app development services, transforming your idea and needs into a
                completely secure and ingenious mobile application. Our experts provide end-to-end App development
                support for iOS, Android, or native mobile applications. Sudhatri turns your dream into mere reality by
                offering cutting-edge mobile application customized solutions at your budget. We serve our customers
                with the most creative, trustworthy, and secure mobile app solutions.
            </p>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
            <img src="{% static 'images/ios.png'%}" alt="ios" class="img-fluid" />
        </div>
    </div>
</div>
{% endblock content %}