{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-0 mb-5">
    <img src="{% static 'images/us-staffing-banner.png'%}" alt="contact banner" class="img-fluid mb-4 w-100" />
</div>
<div class="container mt-5 mb-5">
    <div class="row text-center mb-5 mt-5">

        <div class="col-md-6 mb-4">
            <img src="{% static 'images/us-staffing.png'%}"  class="imgBorder img-fluid" alt="" />

        </div>

        <div class="col-md-6 mt-4">
            <h3><span class="line_before"></span>US Staffing</h3>

            <p class="mt-4 justify">
                We withstand in taking up the US Staffing Services in providing niche based unique and standardized way
                for your business. We have a well-versed experienced candidates in recruiting the Right candidates to
                take up the challenges from time to time and making your business move in a smooth way without facing
                any radicals.
                We use an interpersonal approach when locating skilled professionals for our clients. We also provide an
                opportunity in Temporary, Temporary to Permanent and Permanent based recruitments as per the requirement
                needed.
                US Staffing helps to ensure better utilization of human resources. It ensures the continuity and growth
                of the organization, through development managers.

            </p>

        </div>
        
    </div>






</div>
{% endblock content %}