{% extends 'base.html' %}
{% load static %}
{% block meta %}
<meta name="description"
    content="Sri Sudhatri Technologies Provides Best Web Designing Services in India With Great User Experience. Best Web Development Company in Hyderabad as Per Web Analysis." />
<meta name="keywords"
    content="Best Web Designing Services in India, Web Designing Company Hyderabad, Best Web Development Company, Best Web Development Company Hyderabad, Web Development Company Hyderabad, Best Web Designing Services in Hyderabad." />
{% endblock %}
{% block content %}
<div class="container-fluid p-0 mb-5">
    <img src="{% static 'images/web-banner.png'%}" alt="web development banner" class="img-fluid mb-4 w-100" />
</div>
<div class="container mt-5 mb-5">
    <div class="row text-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 mb-4">
            <h3><span class="line_before"></span>Join With Us to Carve Your Website</h3>
            <p class="mt-4 justify">
                A website to be developed and designed in such away as user intention in mind in a simple outlook in a
                smooth manner. We design your website that reflect your business with a great user experience that drive
                results. We ensure to develop best design services to built website with marketing ongoing services.
                We are here with one step forward, to provide you a well-equipped web development services with
                innovative ideas in creating a Simple, Complex web services for the mode of Digital Transformation. It’s
                the work that stands behind in making scenes, to make a website have a simple look, to meet the
                requirements faster and have a seamless user experience with a wide variety of coding Techniques.
            </p>
            <p class="mt-4 justify">
                It refers to web markup and coding, website development includes all related development tasks, such as
                client-side scripting, server-side scripting, server and network security configuration, eCommerce
                development, and content management system (CMS) development.
                The word “Web” refers to Websites, Web pages and other things that work over the Internet Platform.
                “Development” refers to building the application from Start to End.
            </p>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
            <img src="{% static 'images/web-dev.png'%}" alt="web development" class="img-fluid" />
        </div>
    </div>
    <div class="row mt-5 mb-5 text-center">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
            <img src="{% static 'images/ecommerce.png'%}" alt="ecommerce website design" width="250px" height="150px" />
            <h4 class="mt-4">ECommerce Website Design</h4>
            <p>
                We provide best fulfilling designing services to Ecommerce websites as per the requirement that will
                improve your website traffic, UX, and ROI of your website.
            </p>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
            <img src="{% static 'images/website-redesign.png'%}" alt="website redesign" width="250px" height="150px" />
            <h4 class="mt-4">Website Redesign</h4>
            <p>
                Looking for attractive designing for website? We provide Unique Redesigning services to make your
                website have both visual appearance and good functionality.
            </p>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12">
            <img src="{% static 'images/responsive-design.png'%}" alt="responsive web design" width="250px"
                height="150px" />
            <h4 class="mt-4">Responsive Web Design</h4>
            <p>
                We provide Responsive web design approach to make web pages that render well on all screen sizes and
                resolutions while ensuring good usability.
            </p>
        </div>
    </div>
</div>
{% endblock content %}