{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid p-0 mb-5">
    <img src="{% static 'images/web-banner.png'%}" alt="contact banner" class="img-fluid mb-4 w-100" />

</div>
<div class="container mt-5 mb-5">
    <div class="row text-center">
        <div class="col-md-6 mb-4">
            <h3><span class="line_before"></span>Join Your Hands With Us to Carve Your Website</h3>

            <p class="mt-4 justify">
                A website to be developed and designed in such away as user intention in mind in a simple outlook in a
                smooth manner. We design your website that reflect your business with a great user experience that drive
                results. We ensure to develop best design services to built website with marketing ongoing services.
                We are here with one step forward, to provide you a well-equipped web development services with
                innovative ideas in creating a Simple, Complex web services for the mode of Digital Transformation. It’s
                the work that stands behind in making scenes, to make a website have a simple look, to meet the
                requirements faster and have a seamless user experience with a wide variety of coding Techniques.

            </p>
            <p class="mt-4 justify">
                It refers to web markup and coding, website development includes all related development tasks, such as
                client-side scripting, server-side scripting, server and network security configuration, eCommerce
                development, and content management system (CMS) development.

                The word “Web” refers to Websites, Web pages and other things that work over the Internet Platform.
                “Development” refers to building the application from Start to End.

            </p>

        </div>
        <div class="col-md-6">
            <!-- <img src="{% static 'images/laptop.png'%}" alt="" class="img-fluid"  /> -->
            <!-- <img src="{% static 'images/pc-lap.png'%}" alt="" class="img-fluid" /> -->
            <img src="{% static 'images/pc-lap-new.png'%}" alt="" class="img-fluid" />

        </div>

    </div>





    <div class="row mt-5 mb-5 text-center">
        <div class="col-md-4">
            <img src="{% static 'images/webn3.png'%}" alt="" width="250px" height="150px" />
            <h4 class="mt-4">ECommerce Website Design</h4>
            <p>Our website redesigning services will improve your website traffic, UX, and ROI of your website.</p>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/webn2.png'%}" alt="" width="250px" height="150px" />

            <h4 class="mt-4">Website Redesign</h4>
            <p>Our website redesigning services will improve your website traffic, UX, and ROI of your website.</p>


        </div>
        <div class="col-md-4">
            <img src="{% static 'images/webn4.png'%}" alt="" width="250px" height="150px" />

            <h4 class="mt-4">Responsive Web Design</h4>
            <p>Our website redesigning services will improve your website traffic, UX, and ROI of your website.</p>

        </div>

    </div>


</div>
{% endblock content %}